<html>
<head>
	<meta charset="UTF-8">
	<title>SDIMS</title>
</head>
<body style="padding:0;border:0;margin:0">
	<div title="" style="padding:20px;overflow:hidden; color:black;">
		<p style="font-size: 25px; line-height: 40px; height: 30px;">欢迎登录</p>
		<p style="font-size: 20px; line-height: 30px; height: 30px;">防盗门进销存管理系统</p>
  		<p>开发人员：赵路通</p> 
  		<p>开发周期：2019/03/15 --- 2019/04/11（休息6天,共计21天）</p>
  		<hr />
  		<h4>开发环境</h4>
  		<p>系统环境：Windows 10</p>
		<p>开发工具：Eclipse+SublimeText3</p>
		<p>管理工具：Maven3.5.4</p>
		<p>Java版本：JDK 1.8</p>
		<p>服务器：tomcat 9.0</p>
		<p>数据库：MySQL 5.1</p>
		<p>后台架构： Spring+SpringMVC+Mybatis</p>
		<p>前台技术：BootStrap+JavaScript+jQUery+Ajax+CSS+HTML</p>
		<p>工具：MD5加密+DES加密+Echarts数据统计</p>
		<p>测试工具: Junit底层测试+PostMan请求测试</p>
		<p>设计思想：MVC设计模式+前后端分离开发</p>
	</div>
</body>
</html>