<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../resources/css/admin/index.css">
</head>
<body>
	<!-- 顶部 -->
	<div class="navbar navbar-duomi navbar-static-top" role="navigation">
		<div class="container-fluid">
			<!-- 标题 -->
			<div class="navbar-header">
				<a class="navbar-brand" href="/sdims/admin/index" id="logo">防盗门进销存管理系统 </a>
			</div>
			<!-- 标题右侧 -->
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li role="presentation">
						<a href="#">当前用户 <span class="badge">Admin</span></a>
					</li>
					<li>
						<a href="#"> <span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;退出登录</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- 中部 -->
	<div class="container-fluid">
		<!-- 中间  -->
		<div class="row">
			<!-- 中间左侧导航 -->
			<div class="col-md-2">
				<ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
					<li>
						<a href="#"><i class="glyphicon glyphicon-th-large"></i>首页</a>
					</li>
					<!------------------基础管理---------------- -->
					<li>
						<a href="#baseSetting" class="nav-header collapsed" data-toggle="collapse">
						<i class="glyphicon glyphicon-star"></i>基础信息管理
						<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
						</a> 
						<!-- nav nav-list secondmenu collapse后加in属性表示默认打开 -->
						<ul id="baseSetting" class="nav nav-list secondmenu collapse" style="height: 0px;">
							<li>
								<a href="javascript:void(0);" onclick="getGoods()">
									<i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;<span id="goodsManager">商品管理</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);" onclick="getRepo()">
									<i class="glyphicon glyphicon-home"></i>&nbsp;<span id="repoManager">仓库管理</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);" onclick="getEmployee()">
									<i class="glyphicon glyphicon-user"></i>&nbsp;<span id="employeeManager">员工管理</span>
								</a></li>
							<li>
								<a href="javascript:void(0);" onclick="getRole()">
									<i class="glyphicon glyphicon-folder-close"></i>&nbsp;<span id="roleManager">角色展示</span>
								</a>
							</li>
						</ul>
					</li>
					<!------------------库存管理---------------- -->
					<li>
						<a href="#stockSetting" class="nav-header collapsed" data-toggle="collapse">
							<i class="glyphicon glyphicon-star"></i>库存管理 
							<span class="pull-right glyphicon  glyphicon-chevron-toggle"></span>
						</a>
						<ul id="stockSetting" class="nav nav-list secondmenu collapse in">
							<li class="">
								<a href="javascript:void(0);" onclick="getStock()">
									<i class="glyphicon glyphicon-inbox"></i>&nbsp;<span id="stockManagerName">库存管理</span>
								</a>
							</li>
							<li class="">
								<a href="javascript:void(0);" onclick="getIntoStock()">
									<i class="glyphicon glyphicon-registration-mark"></i>&nbsp;<span id="intoStockManagerName">入库审核</span>
								</a>
							</li>
							<li class="">
								<a href="#">
									<i class="glyphicon glyphicon-copyright-mark"></i>&nbsp;出库审核
								</a>
							</li>
						</ul>
					</li>
					<!------------------订单审核---------------- -->
					<li>
						<a href="#orderSetting" class="nav-header collapsed" data-toggle="collapse">
							<i class="glyphicon glyphicon-star"></i>订单审核
							<span class="pull-right glyphicon  glyphicon-chevron-toggle"></span>
						</a>
						<ul id="orderSetting" class="nav nav-list secondmenu collapse">
							<li class="">
								<a href="javascript:void(0);" onclick="getPurchaseOrderCheck()">
									<i class="glyphicon glyphicon-ok-circle"></i>&nbsp;<span id="purchaseOrderCheckLableName">采购单审核</span>
								</a>
							</li>
							<li class="">
								<a href="javascript:void(0);" onclick="getSaleOrderCheck()">
									<i class="glyphicon glyphicon-ok-circle"></i>&nbsp;<span id="saleOrderCheckLableName">销售单审核</span>
								</a>
							</li>
						</ul>
					</li>
					<!------------------采购管理---------------- -->
					<li>
						<a href="#supplierSetting" class="nav-header collapsed"data-toggle="collapse">
							<i class="glyphicon glyphicon-star"></i>采购管理 
							<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
						</a>
						<ul id="supplierSetting" class="nav nav-list secondmenu collapse">
							<li>
								<a href="javascript:void(0);" onclick="getPurchase()">
									<i class="glyphicon glyphicon-user"></i>&nbsp;<span id="purchaseManager">供商管理</span>
								</a>
							</li>
							<li>
								<a href="javascript:void(0);" onclick="getPurchaseOrder()">
									<i class="glyphicon glyphicon-book"></i>&nbsp;<span id="purchaseOrderManager">采购订单</span>
								</a>
							</li>
						</ul>
					</li>
					<!------------------销售管理---------------- -->
					<li>
						<a href="#customerSetting" class="nav-header collapsed" data-toggle="collapse">
							<i class="glyphicon glyphicon-star"></i>销售管理
							<span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
						</a>
						<ul id="customerSetting" class="nav nav-list secondmenu collapse">
							<li>
								<a href="javascript:void(0);" onclick="getCustomer()">
									<i class="glyphicon glyphicon-user"></i>&nbsp;<span id="customerManager">客户管理</span>
								</a>
							</li>
							<li>
								<a  href="javascript:void(0);" onclick="getSaleOrder()">
									<i class="glyphicon glyphicon-book"></i>&nbsp;<span id="saleOrderManager">销售订单</span>
								</a>
							</li>
						</ul>
					</li>
					<!------------------账户管理---------------- -->
					<li>
						<a href="#accountSetting" class="nav-header collapsed" data-toggle="collapse">
							<i class="glyphicon glyphicon-star"></i>账户管理 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
						</a>
						<ul id="accountSetting" class="nav nav-list secondmenu collapse">
							<li><a href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;用户管理</a></li>
							<li><a href="https://www.baidu.com"><i class="glyphicon glyphicon-lock"></i>&nbsp;修改密码</a></li>
						</ul>
					</li>
					<!------------------关于系统---------------- -->
					<li>
						<a href="http://blog.lothar.top/2019/04/06/SDIMS关于系统/" target="_Blank">
							<i class="glyphicon glyphicon-star"></i>关于系统
							<span class="badge pull-right">1</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- 左右分割线 -->
			<div class="col-md-1"style="width: 3px;">
				<hr id="centerLine" style="width: 2px;height: 600px;background-color: #636363"/>		
			</div>
			<!-- 中间右侧 -->
 			<div class="col-md-9">
 				<!-- 标题名称 -->
				<ul class="nav nav-pills"></ul>
				<!-- 标题内容 -->
				<div class="tab-content"></div>
			</div>
		</div>
	</div>
	<!-- 底部条 -->
	<div id="bottomLine">
		<span class="bottomFont">&copy2019&nbsp;SDIMS&nbsp;By LuTong.Zhao 豫ICP备19006791号</span>
	</div>
	<script src="http://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<!-- 动态标签栏工具 -->
	<script src="../resources/js/util/closable-tab-div.js"></script>
	<!-- 时间转换工具 -->
	<script src="../resources/js/util/date.format.js"></script>
	<!-- 欢迎页 -->
	<script src="../resources/js/comment/welcome.js"></script>
	<!-- 角色信息标签栏-js控制文件 -->
	<script src="../resources/js/admin/roleLable.js"></script>
	<!-- 员工信息标签栏-js控制文件 -->
	<script src="../resources/js/admin/employeeLable.js"></script>
	<!-- 仓库管理标签栏.js控制文件 -->
	<script src="../resources/js/comment/repoLable.js"></script>
	<!-- 商品管理标签栏.js控制文件 -->
	<script src="../resources/js/admin/goodsLable.js"></script>
	<!-- 供销商管理标签栏.js控制文件 -->
	<script src="../resources/js/purchase/purchaseSupplierLable.js"></script>
	<!-- 采购订单管理标签栏.js控制文件 -->
	<script src="../resources/js/purchase/purchaseOrderLable.js"></script>
	<!-- 客户管理标签栏.js控制文件 -->
	<script src="../resources/js/sale/saleCustomerLable.js"></script>
	<!-- 销售管理标签栏.js控制文件 -->
	<script src="../resources/js/sale/saleOrderLable.js"></script>
	<!-- 采购单审核管理标签栏.js控制文件 -->
	<script src="../resources/js/ordercheck/purchaseOrderCheckLable.js"></script>
	<!-- 销售单审核管理标签栏.js控制文件 -->
	<script src="../resources/js/ordercheck/saleOrderCheckLable.js"></script>
	<!-- 仓库管理标签栏.js控制文件 -->
	<script src="../resources/js/stock/stockLable.js"></script>
	<!-- 入库管理标签栏.js控制文件 -->
	<script src="../resources/js/stock/intoStockLable.js"></script>
</body>
</html>