<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<title>仓库管理</title>
	<meta name="keywords" content="表格">
    <meta name="description" content="这真的是一个表格" />
    <meta name="HandheldFriendly" content="True" />
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<!-- 检索条件框/按钮 -->
	<div class="panel panel-body">
		<form class="form-inline">
			<div class="form-group">
				<label class="left20">商品名称</label> 
				<input id="stockGoodsName"type="text" class="form-control" placeholder="商品名称">
				<label class="left20">仓库名称</label> 
				<input id="stockRepositoryName"type="text" class="form-control" placeholder="仓库名称">
				<button style="margin-left: 0px;margin-top: 5px" onclick="searchStock()" type="button"
					class="btn btn-primary">查询</button>
			</div>
		</form>
	</div>
	<!-- 销售单展示表 -->
	<div class="panel panel-primary">
		<table class="table table-bordered table-hover">
            <thead>
            <tr class="success">
                <td>序号</td>
                <td>商品</td>
                <td>仓库</td>
                <td>库存量</td>
                <td>销售量</td>
                <td>进价</td>
                <td>售价</td>
                <td>库存成本</td>
                <td>库存总值</td>
                <td>更新时间</td>
            </tr>
            </thead>
            <tbody id="table-stock"></tbody>
        </table>
	</div>
	<!-- 分页控件 -->
	<div class="row" style="width: 70%;position:fixed;bottom:30px;">
		<div class="col-md-6" id="page_nav_stock"></div>
	</div>
</body>
</html>